a.icon-btn {
.block;
.bg-col(@grayDk);
.col(white);
.h(5);
.line-h(5);
.pad-all(0);
.font-size(1.6);
.mag-top(1);
.no-text-dec;
.indent(2);
text-align: left;
.no-border;
.rounded(8px);
.rel;

	&:after {
	content: "\f0a9";	
	font-family: FontAwesome;	
	.abs;
	.right(0);
	.top(0);
	.col(@gray);
	.line-h(5);
	.pad-right(2);
	.font-size(2);
	}

	&.big-btn {
	.h(6);
	.line-h(6);	
	.font-size(2);
		&:after {
		.line-h(6);	
		.font-size(2.4);
		}
	}
	
	&:hover, &:active, &:focus {
	.col(white);	
	.bg-col(@red);	
		&:after {
		.col(@redMid);	
		}
	}	
	
	&:last-child {
	.mag-top(0);	
	}
}

button.sb-menu-btn, button.service-menu-btn {
.h(5);
.line-h(5);
.pad-all(0);
.font-size(1.6);
.indent(2);
text-align: left;
.no-border;
.no-rounded;
.col(white);
.bg-col(@redMid);
.rel;

	&:after {
	content: "\f0c9";	
	font-family: FontAwesome;	
	.abs;
	.right(0);
	.top(0);
	.col(white);
	.line-h(5);
	.pad-right(2);
	.font-size(2);
	}
	
	&:hover, &:active, &:focus {
	.bg-col(@red);
	.col(white);
	}
	
}

a.side-link {
.block;
.font-size(1.6);
.line-h(5);
.h(5);
.bg-col(@gray);
.col(white);
.no-text-dec;
.mag-top(3);
.indent(2);
.mag-bot(0.1);
-webkit-font-smoothing: subpixel-antialiased;
		
		i {
		.fright;
		.w(5);
		.line-h(5);
		text-align: center;
		.indent(0);
		}//icons

}

button.icon-btn {
.block;
width: 100%;
.bg-col(@grayDk);
.col(white);
.h(4);
.line-h(4);
.pad-all(0);
.font-size(1.6);
.mag-top(2);
.no-text-dec;
.indent(1);
.no-rounded;
.no-border;
text-align: left;

	i {
	.block;
	.w(4);
	.h(4);
	text-align: center;
	.line-h(4);
	}
	
	&:hover, &:active, &:focus {
	.bg-col(lighten(@grayDk, 10%));	
	}	
}

button#back-2-top {
.fixed;
.bottom(3);
.right(3);	
.no-border;
.rounded(4px);
.h(5);
.w(5);
.pad-all(0);
.trans-bg(@gray; 0.7);
.col(white);
.animated;

	i {
	.line-h(5);	
	}
	
		&:hover, &:active, &:focus {
		.bg-col(@red);
		}
	
	.visible {
	.block;
	}
	
	.hidden {
	.block;
	}
}