#footer-info {
.bg-col(@grayDk);
.pad(3;0;4;0);
//.bg-img("bg-icon-logo.png");
//.bg-repeat(no-repeat);
//background-position: right bottom;
.border-top(@wht; 0.4);

	.container {
	.pad-left(1.5);
	}

	h3 {
	.txt-col-green;
	.font-size(1.6);
	.bold;
	.caps;
	.font-slab-serif;
	.mag-top(0);	
	}
	
	a {
	.col(white);
	.no-text-dec;	
		&:hover, &:active, &:focus {
		.txt-col-red-lt;	
		}	
	}	
	
	p {
	.col(white);	
	.mag-bot(0);
	.font-size(1.4);
	}
	
	.footer-nav {
		ul {
		list-style: none;
		.pad-left(0);
		.mag-bot(2);	
		}	
	}
	
	.social-links {
	.mag-bot(1);	
		
		ul {
		list-style: none;
		.pad-left(0);
		text-align: center;
		}	
		
		li {
		.in-block;	
		.mag-left(0.5);
		.mag-right(0.5);
		}
		
		a {
		.bg-col(white);
		.col(@grayDk);
		.block;
		.w(3.5);
		.h(3.3);
		.rounded(100%);
		.no-text-dec;
			
			span {
			.none;	
			}
			
			i {
			.block;
			.w(3.5);
			.h(3.5);	
			.line-h(3.5);
			font-size: 1.5em;
			text-align: center;
			}	
			
			&:hover, &:active, &:focus {
			.bg-col(@red);
			.col(white);
			}
		}
	}
	
	#footer-logo {
	.abs;
	.top(-2.8);
	left: 50%;
	.mag-left(-3.5);
	width: 100%;
	.h(7);
	.w(7);
	.bg-col(white);
	.rounded(100%);
	.bg-img("color-icon.png");
	.bg-size(85%);
	.bg-repeat(no-repeat);
	background-position: center center;	
	}
	
	.compliance-notice {	
	text-align: right;
	}
	
	.copyright {
	.border-top(white; 0.2);
	.border-bot(white; 0.2);
	.mag-top(3);
	.trans-bg(black; 0.3);
	.pad-top(1);
	.pad-bot(1);
	}
	
	.headway-logo {
	.fright;
	.w(12);
	.h(12);
	.bg-col(white);	
	.rounded(100%);
	.bg-size(90%);
	.bg-repeat(no-repeat);
	background-position: center center;
		
		a {
		.block;
		height: 100%;
		.indent(-999);	
		}
	}
	
	.lexcel-logo {
	.w(12);	
	.h(6.5);
	.mag-top(2.5);
	.mag-right(2);
	.bg-size(contain);
	.bg-repeat(no-repeat);
	background-position: center center;
	.fright;	
		a {
		.block;
		height: 100%;
		.indent(-999);
		}
	}
	
}

body.logged-in {
	#footer-info {
	.pad-bot(7);	
	}	
}