header[role="banner"] {
.bg-col(white);	
//.over-hide;
	
	.logo {
	.mag-all(0);
	.w(35);
		a {
		.block;
		.h(8);
		.w(35);
		.bg-img("tlw-logo-wide.png");
		.bg-repeat(no-repeat);
		background-position: left center;
		
			@media
				only screen and (-webkit-min-device-pixel-ratio: 1.5),
				only screen and (   min--moz-device-pixel-ratio: 1.5),
				only screen and (     -o-min-device-pixel-ratio: 3/2),
				only screen and (        min-device-pixel-ratio: 1.5){ 
				.bg-img("x2/tlw-logo-wide-x2.png");
				.bg-size(contain);
			}
			
			&:hover, &:active, &:focus{
			.opacity(0.5);	
			}
			
		}
			
	}
	
	.contact-links {
	.bg-col(@grayDk);	
	.over-hide;
	//.border-bot(white; 0.1);
	}
	
	span.tag-line {
	width: 40%;	
	text-align: center;
	.fleft;
	.font-size(1.6);
	.line-h(4);	
	.caps;
	.col(white);
	}
	
	span.contact-link {
	.block;
	.font-size(2);
	.line-h(4);	
	//.border-bot(white; 0.1);
	.fleft;
	width: 30%;
	
		&.rs {
		text-align: right;
		}
		
		&.ls {
		text-align: left;
		}
				
		i {
		.col(@red);	
		}
		
		a {
		.col(white);
			&:hover, &:active, &:focus {
			.col(@red);
			}
		}
		
	}
	
	.nav-action {
	.pad-top(1.8);
		span {
		.caps;
		.col(@gray);
		.line-h(4.5);
		.pad-right(1);	
		}	
		
		#nav-btn {
		.rounded(0px);
		.no-border;
		.col(white);
		.w(4.5);
		.h(4.5);
		.pad-all(0);
		
			&.in-active {
			.bg-col(@red);	
			}
			
			&:hover, &:active, &:focus {
			.bg-col(@redMid);
			}
		
			&.active {
			.bg-col(@redMid);
			}
		}

	}
	
	.header-links {
	.pad-top(2.3);
		a {
		.no-text-dec;	
		.mag-left(0.5);
		}
				
		.quick-links {
			
			a {
			.pad(0;1.5;0;1.5);
			.no-border;	
			.in-block;
			.h(3.5);
			.line-h(3.5);
			.col(white);
			.bg-col(@grayDk);
			.rounded(20px);
			
				i {
				.pad-left(1);	
				.col(@gray);
				}
			
				&:hover, &:active, &:focus {
				.bg-col(@gray);
				
					i {
					.col(@red);
					}
				}
				
			}

		}
		
		.social-links {
		.pad-left(2);	
			
			a {
			.pad-all(0);
			.no-border;	
			.in-block;
			.h(3.5);
			.w(3.5);
			.line-h(3.5);
			.bg-col(@grayDk);
			.col(white);
			.rounded(23px);
		
				&:hover, &:active, &:focus {
				.bg-col(@gray);
				}
			}
		}
	}
	
}

html.svg {
	header[role="banner"] {
		
		.logo {
			a {
			.bg-img("tlw-logo-wide.svg");
			}
		}
	}
}