.page-num {
.mag-top(-5);
.pad-right(2);
.h(5);
.line-h(5);
.pad-right(2);
	
	.wp-pagenavi {
	.font-size(1.6);
		a {
		.none;	
		}	
		
		span {
		.none;	
		}
		
		span.pages {
		.block;	
		text-align: right;
		.col(white);
		}
			
	}
}

.page-links {
.pad-top(3);	
	.wp-pagenavi {
	.font-size(1.4);
	.col(white);
	.h(3);
	text-align: left;
		
		span {
		.in-block;	
		.h(3);
		.line-h(3);
		}
		
		span.pages {
		.block;
		.fright;
		.bg-col(lighten(@gray, 20%));
		.pad-left(2);
		.pad-right(2);
		.mag-bot(0);
		}
		
		span.current {
		.bg-col(@red);	
		.w(3);
		text-align: center;
		.mag-right(0.1);
		}
		
		a {
		.in-block;
		.w(3);
		.h(3);	
		.no-text-dec;
		.line-h(3);
		.mag-right(0.1);
		text-align: center;
		.col(white);
		}
		
		a.page {
		.bg-col(lighten(@gray, 20%));
		
			&:hover, &:active, &:focus {
			.bg-col(@gray);
			}
		}
		
		a.nextpostslink, a.previouspostslink, a.last, a.first {
		.bg-col(@gray);	
			&:hover, &:active, &:focus {
			.bg-col(lighten(@gray, 20%));
			}
		}
	}
	
}