#top-nav {
overflow: hidden;
.rel;
z-index: 10000;
.bg-col-gray;

	&.nav-closed {
	height: 0px;
	}

	&.nav-open {
	height: auto;
	}
	
	button#close-nav {
	.pad-all(0);	
	.abs;
	.right(0);
	.bottom(0.4);
	.h(5);
	.w(5);
	.bg-col(white);
	.col(@gray);
	outline: none;
		&:hover, &:active, &:focus {
		.bg-col(@grayDk);
		.col(white);
		}
	}	
	
	.nav-wrapper {
	.border-bot(@wht; 0.4);	
	.pad(2; 7.5; 1.5; 7.5);
	.bg-img('bg-icon-logo.png');
	.bg-repeat(no-repeat);
	background-position: right bottom;
	.bg-size(contain);
	}
	
	ul.menu {
	.rel;	
	}
	
	ul {
	.mag-bot(0);	
	}
	
	li {
	//width: 100% / 2;	
	.mag-bot(1);
	}
	
		
	#menu-main-navigation {
	margin-left: auto;
	margin-right: auto;	
	width: 100% / 3;
		&.top-open {
		width: 60%;
			li.top-level {
			width: 100% / 2;	
				& > ul.sub-menu {
				left: 100%/2;
				width: 50%;	
				}
			}
		}
		&.mid-open {
		margin-left: 0px;
		width: 100%;	
			li.top-level {
			width: 100% / 3;	
				& > ul.sub-menu {
				left: 100%/3;
				width: 100% / 3;	
				}
			}
		}
	}
	
	a {
	.block;
	.rel;
	.txt-col-grayDk;
	.line-h(1.6);
	.no-text-dec;	
	.font-slab-serif;
	.border(@wht; 0.4);	
	.pad(1.5; 0; 1.5; 2);
	.font-size(2);
	.caps;
	
		i {
		.line-h(1.6);	
		.pad-right(1);
		}
		
		&:hover, &:active, &:focus {
		.bg-col(@wht);
		}
	}
	
	li.with-sub-nav {	
		> a {
		.rel;
			&:after {
			content: "\f055";
			font-family: FontAwesome;	
			.abs;
			.right(0);
			.top(0);
			.col(@grayDk);
			.pad(1.6; 2; 0; 0);
			.font-size(2);
			}
		}
	
	}
	
	li.top-level {
	//.mag-bot(1);
		ul.sub-menu {
		.list-style-gone;	
		.abs;
		}
	}
	
	li.top-level > ul.sub-menu {
	//left: 100%/2;	
	.top(0);
	.mag-left(3);
	.opacity(0);
	.none;
	.transition(0.3s, ease-in);
		li {
		width: 100%;	
		}
		
		a {
		.bg-col(@wht);		
			&:hover, &:active, &:focus {
			.bg-col-grayDk;
			.txt-col-wht;
			.border-col(@grayDk);
				&:after {
				.txt-col-wht;	
				}
			}
		}
	}
	
	li.mid-level > ul.sub-menu {
		width: 90%;
		left: 100%;	
		.top(0);
		.mag-left(3);
		.mag-right(3);
		.opacity(0);
		.none;
		.transition(0.3s, ease-in);
			li {
			width: 100%;	
			}
		a {
		.bg-col-grayDk;	
		.txt-col-wht;	
		.border-col(@grayDk);
			&:hover, &:active, &:focus {
			.bg-col(@wht);
			.txt-col-grayDk;
			.border-col(@wht);
			}
		}	
			
	}
	
	li.sl-tl-open {
	.bg-col(@wht);	
	} 
	
	ul.sub-menu > li.sl-tl-open > a {
	.bg-col-grayDk;	
	.txt-col-wht;
	.border-col(@grayDk);
		&:after {
			.txt-col-wht;	
		}
	} 
	
	li.sl-tl-open > ul.sub-menu {
	.block;
	.opacity(1);
	} 
}