body#login {
	
	#user-wrap {	
	width: 100%;
	height: 100%;
	.min-h(40);
	.bg-img('user-bg.png');
	.bg-repeat(no-repeat);
	background-position: center center;
	.bg-col(@grayLt);
	.bg-size;
	.rel;
	
		@media (min-width: @screen-sm) {
		.pad-top(0);
		}
	}
	
	.wrap-center {
	text-align: center;	
	.pad-all(2);
	height: 100%;
		&:before {
			content: "";
			.in-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}
	}
		
	.login {
	.in-block;
	vertical-align: middle;
	.pad(6;2;2;2);
	.trans-bg(white; 0.9);
	.bg-img('tlw-logo-mobile.png');
	.bg-repeat(no-repeat);
	background-position: 50% 10px;
	width: 80%;
	.max-w(30);
	.drop-shadow( 0, 0, 20px, 0.5); 	
	
		@media (min-width: @screen-sm) {
		.pad-top(10);
		.max-w(40);
		.bg-img('tlw-logo.png');
		}
		
		@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			only screen and (   min--moz-device-pixel-ratio: 1.5),
			only screen and (     -o-min-device-pixel-ratio: 3/2),
			only screen and (        min-device-pixel-ratio: 1.5){ 
			.bg-img("x2/tlw-logo-mobile-x2.png");
			.bg-size(65%);
				
			@media (min-width: @screen-sm) { 
			.bg-img("x2/tlw-logo-x2.png");
			.bg-size(35%);
			background-position: 50% 5px;
			}
		}
		
		input {
		.no-rounded;	
		}
		
		.form-control {
		.h(3);	
			&:focus {
			.border-col(@red);	
			}
		}
		
		p.submit {
			input.btn {
			.no-rounded;
			.bg-col(@gray);
			.col(white);
			.caps;
			.border-col(@grayDk);	
				&:hover, &:active, &:focus {
				.bg-col(lighten(@gray, 10%));
				}
			}
		}
	
		.tml-action-links {
		.mag-all(0);
		.pad-all(0);
		list-style: none;
		
			li {
			.mag-bot(1);	
			}
		
			a {
			.block;
			.h(3);
			.line-h(3);
			.col(black);
			text-align: center;
			.no-rounded;
			.no-text-dec;
			.border(@grayDk, 0.1);
			.caps;
			.font-size(1.4);
				&:hover, &:active, &:focus {
				.bg-col(@gray);
				.col(white);
				}	
			}
		}
	}
	
}

.user-links {
.fixed;
.bottom(0);	
.w(20);
.transition(0.2s, ease-in-out);

	#user-btn {
	.abs;
	.right(-5);
	.bottom(0);
	.w(5);
	.h(5);
	.no-border;
	.no-rounded;
	.bg-col(@red);
	.col(white);
		&:hover, &:active, &:focus {
		.col(@grayDk);	
		}
	}

	&.open {
	.left(0);	
		#user-btn {
		.col(@grayDk);
			&:hover, &:active, &:focus {
			.col(white);
			}
		}
	}
	
	&.closed {
	.left(-20);	
	}

	ul {
	padding-left: 0;
	list-style: none;
	.mag-bot(0);
	.bg-col(@red);
	.pad-all(1);
	
		li {
		.mag-bot(.1);
		.mag-top(.1);	
		}
	
		a {
		.block;
		.w(18);
		.h(3);
		.line-h(3);
		.bg-col(@grayDk);
		.col(white);
		text-align: center;
		.no-text-dec;
			&:hover, &:active, &:focus {
			.col(@grayDk);
			.bg-col(@grayLt);	
			}
		}	
	}
	
}