@media print {
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    width: 100%;
    float: none;
  }
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .header,
  .abs-header {
    position: static;
    padding: 50px 0px 50px 0px;
    margin: 0px 100px 50px 100px;
    border-bottom: 2px solid gray;
  }
  .header .logo,
  .abs-header .logo {
    font-family: sans-serif;
    font-weight: 300;
    text-indent: 0px;
    font-size: 50px;
  }
  .header .container,
  .abs-header .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  a[href]:after {
    content: none !important;
  }
  #content-extra {
    display: block;
  }
  .banner-img-wide {
    height: auto;
  }
  .top-banner {
    height: auto;
  }
  .title-banner,
  .lp-header,
  .banner-title {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    text-align: left;
  }
  .service-tag {
    font-family: sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .banner-img {
    font-family: sans-serif;
  }
  .banner-img h1 {
    font-size: 60px;
  }
  time.date {
    font-size: 20px;
    text-transform: uppercase;
  }
  .content,
  .content-section {
    font-family: sans-serif;
    border: none;
  }
  .content h1,
  .content-section h1 {
    font-size: 60px;
    margin-bottom: 40px;
  }
  .content h2,
  .content-section h2 {
    font-size: 40px;
    color: grey;
    margin-bottom: 30px;
  }
  .content h3,
  .content-section h3 {
    font-size: 30px;
    color: grey;
    text-transform: uppercase;
  }
  .content p,
  .content-section p,
  .content ul,
  .content-section ul,
  .content ol,
  .content-section ol,
  .content p.lead,
  .content-section p.lead,
  .content .faq-question,
  .content-section .faq-question {
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  .content .faq-question,
  .content-section .faq-question {
    font-weight: bold;
  }
  #side-nav,
  #top-nav,
  .header-links,
  .banner-form,
  .nav-action,
  .contact-links,
  .footer-pg-info,
  .sidebar,
  .access-btns,
  .links-menu,
  #footer-info,
  #search-pop-up,
  #catapult-cookie-bar,
  #breadcrumbs,
  #booklet-download-btn,
  #booklet-download,
  .feat-img-wide,
  hr,
  .user-links,
  .banner-links,
  .tag-scroller,
  video,
  .pg-section,
  .page-tools,
  #quick-links,
  #scroll-down-btn,
  .header-action-btns,
  #top-banner,
  #global-tel-num,
  #continue-read-btn,
  #close-content-extra-btn {
    display: none;
  }
}
